.container {
  margin-top: 50px;
}

.row {
  background-color: rgb(252, 248, 248);
  /* height: 500px; */
}

.SecHeading {
  align-items: left;
  margin-top: 80px;
  font-size: 40px;
  margin-left: 100px;
}

.sliderImg {
  width: 700px;
  float: right;
  margin-top: 50px;
}

.sectiondata {
  margin-left: 100px;
  padding-top: 20px;
}

.btn1 {
  height: 40px;
  width: 120px;
  margin-left: 130px;
  background-color: rgb(98, 198, 238);
  border-radius: 5px;
}

.btn2 {
  height: 40px;
  width: 120px;
  margin-left: 10px;
  background-color: orange;
  border-radius: 5px;
}

/********* Cards Section ***************** */

.card-Text{
  margin-left: 30px;

}

.card {
  border: none;
  width: 22rem;
  height: 28rem;
  align-items: center;
}

.CardHeading {
  margin: 30px 40px;
}

.col-md-4 {
  padding-top: 20px;
  padding-left: 90px;
  border: none;
  width: 394px;
}

.card-img-top {
  height: 300px;
  width: 280px;
  padding-top: 60px;
}

.buynowbtn {
  margin-left: 170px;
  align-items: end;
  border-radius: 5px;
}

/* ****************About Section*************** */

.row-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.aboutusImg {
  height: 350px;
  width: 650px;
  float: left;
}

.AboutHeading {
  font-weight: bold;
  margin-top: 50px;
}

.AboutBtn {
  width: 140px;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
  background-color: rgb(139, 236, 236);
  color: white;
}

.aboutdetail {
  padding-right: 50px;
}

h2.textheading {
  padding-top: 70px;
  text-align: center;
  font-size: 40px;
}

.allaboutus {
  padding-left: 20px;
}

.card-img-1 {
 max-height: 280px;
 max-width: 100%;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
}


.testimonial-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding-top: 40px;
}

.row-client {
  padding: 16px 96px;
}

.client {
  height: 250px;
  width: 1200px;
  border: 1px solid gray;
  /* margin-left: 200px; */
  /* float: center; */
  /* margin-top: 50px; */
  box-shadow: 10 10 10 10 grey;
}

.clientImg {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  border: 10px solid aquamarine;
  /* margin-left: 50px;
  margin-top: 30px; */
  float: right;
}

/* .invertedComma {
  font-size: 40px;
  margin-left: 350px;
  margin-top: -150px;
  line-height: 0;
} */

.clientName {
  /* margin-left: 310px; */
  color: rgb(72, 224, 224);
}
/* 
p.data {
  padding: 10px 0 0 303px;
} */

 .contactForm {
  margin-top: 20px;
}

.Contact-form {
  font-size: 40px;
  font-weight: 500px;
  padding: 0 0 0 30px;
}

.form-label{
  padding-left: 10px;
  padding-top: 20px;
}

.form-control {
 padding-left: 10px;
  
}


/* .container.p-4 {
  margin-top: 108px;
  margin-left: 2px;
} */

/* .my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  margin-right: 100px;
}   */

a.icon.btn.btn-floating.btn-warning.btn-lg {
  /* padding-left: 21px; */
  margin: 0px 6px;
}
.footer-text {
  margin-top:24px;
}